.checkbox {
  display: flex;
  align-items: center;
}
.checkbox label {
  cursor: pointer;
}

.checkbox input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox span {
  font-size: 1.125rem;
  font-weight: bold;
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
  font-size: 2rem;
  color: #abd5bd;
}

.checked {
  color: #339af0;
}

/* scss도 가능 */
/* CheckBox.module.scss로 파일만 만들면 가능 (node-sass 설치 후) */